/* Estilo para el contenedor principal */
body {
  margin: 20;
  padding: 20;
  font-family: Arial, sans-serif;
  background-color: #313f92;
}
.logo-container {
  display: flex;
  align-items: center; /* Alinea verticalmente en el centro */
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

/* Estilo para la imagen */
.logo {
  width: 48px;
  height: 48px;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

/* Estilo para el texto */
.logo-text {
  flex-grow: 1; /* Hace que el texto ocupe todo el espacio restante */
}
/* Estilo para el botón "Enviar" */
.button {
  width: 100%; /* Establece el ancho al 100% del contenedor padre */
  background-color: #4caf50;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  border-color: aliceblue;
}
